# Local-only environment variables for HealthyStreetsShinyPy
# Example:
# export THUNDER_FOREST_KEY="your_key"
# export GOOGLE_APPLICATION_CREDENTIALS="/absolute/path/to/service_account.json"
# export GSHEETS_SERVICE_ACCOUNT_JSON='{"type":"service_account",...}'
# export NOMINATIM_ENABLED=1
# export NOMINATIM_USER_AGENT="HealthyStreetsShinyPy (hss@lcc.org.uk)"
# export NOMINATIM_EMAIL=""
